{% extends 'main.html' %}

{% block content %}

<style>
    .home-container {
        display: grid;
        grid-template-columns: 1fr 3fr;
    }
</style>

<div class="home-container">

    <div> 
        <h2>Browse Topics</h2>
        <hr>
        <h3><a href="{% url 'home' %}">All</a></h3>
        {% for topic in topics %}
        <h3><a href="{% url 'home' %}?q={{topic.Topic_name}}">{{topic.Topic_name}}</a></h3>
        {% endfor %}
    </div>

    <div>
    <div>
        <h3><a href="/create-room/{{room.id}}">Create Room</a></h3>
    </div>
    
    <div>
        {% for room in rooms %}
        <h4>Host @<b>{{room.Host.username}}</b></h4>
        <h4><a href="/update-room/{{room.id}}/">Edit</a> 
        <a href="/delete-room/{{room.id}}/">Delete</a></h4>
        <h2> <a href="{% url 'room' room.id %}">{{room.Room_name}}</a></h2>
        <small>TOPIC: <b>{{room.Topic}}</b></small>
        <hr>
        {% endfor %}
    </div>        
    </div>

</div>

{% endblock %}
