{% extends 'main.html' %}

{% block content %}
<div>

    {% if page == 'login' %}
        <div>
        <h1>Login Page</h1>
            <form method="POST" action="">
                {% csrf_token %}
        
                <p>
                <label>Username:</label>
                <input type="text" name="username" placeholder="Enter Username" />
                </p>
        
                <p>
                <label>Password:</label>
                <input type="password" name="password" placeholder="Enter Password" />
                </p>
        
                <input type="submit" value="Login" />
            </form>
        </div>
        <p>Don't have an account?
        <a href="{% url 'RegisterUser' %}">Sign Up</a>
        </p>
        

        {% else %}

        <div>
            <div>
            <h1>Registration Page</h1>
                <form method="POST" action="">
                    {% csrf_token %}
                    {{form.as_p}}
                    <input type="submit" value="Register" />
                </form>
            </div>
            <p>Already have an account? <a href="{% url 'login' %}">Login</a></p>
        </div>

    {% endif %}
    
</div>
{% endblock %}